<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.dlnu.simple.mapper.CountryMapper">

    <resultMap id="countryResultMap" type="Country">

        <id property="id" column="ID"/>

        <result property="countryName" column="COUNTRY_NAME"/>

    </resultMap>

    <resultMap id="countryResultMap1" type="Country" extends="countryResultMap" autoMapping="true">

        <result property="countryCode" column="COUNTRY_CODE"/>

    </resultMap>


    <select id="selectAll" resultType="Country" resultMap="countryResultMap1">

        SELECT
          ID, COUNTRY_NAME, COUNTRY_CODE
            FROM COUNTRY;

    </select>

    <insert id="insertCountry" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO COUNTRY(COUNTRY_NAME, COUNTRY_CODE)
            VALUES
                <foreach collection="list" item="item" separator=",">
                    (#{item.countryName}, #{item.countryCode})
                </foreach>
    </insert>
</mapper>